:root {
    --color1: white;
    --color2: black;
    --color3: #F4F0F0;
    --color4: #FFACE3;
    --color5: #8E55F0;
    --color6: #FCD3C2;
    --color7: #3C56F0;
    --color8: lightblue;
    --color9: #27A0F5;
    --color10: gray;
    --color11: darkorange;
}

html{
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    font-family: Arial;
    letter-spacing: 0.07rem;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--color2);
}

a.onPage {
    opacity: 0.5;
    cursor: default;
}

main {
    display: block;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.marginBottom {
    margin-bottom: 30px;
}

.alignRight {
    text-align: right;
}

.alignLeft {
    text-align: left;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.header1 {
    font-size: 2.3rem;
    font-weight: bold;
    margin-bottom: 40px;
}

.header2 {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2.1rem;
    width: 100%;
}

.header3 {
    margin: 20px 0 30px 0;
    font-size: 1.1rem;
    line-height: 2rem;
}

.CTA {
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--color1);
    background: black;
    padding: 10px 20px;
    border-radius: 12px;
    width: 90%;
    cursor: pointer;
}

.CTA.intro {
    color: yellow;
    width: 60%
}

section {
    padding: 0 30px;
    flex-direction: column;
    margin-bottom: 80px;
}

.boxContainer {
    width: 360px;
}

.section2 .boxContainer.one { height: 415px; }
.section2 .boxContainer.two { height: 510px; }
.section2 .boxContainer.three { height: 485px; }

.box {
    width: 150px;
    background: var(--color2);
    border-radius: 12px;
    color: var(--color1);
    flex-direction: column;
    padding: 40px;
    line-height: 1.7rem;
    container-type: inline-size;
    opacity: 0;
    transition: all 0.6s ease;
}

.box *:not(:last-child) {
    margin-bottom: 20px;
}

.box img {
    width: 100cqi
}

.box div {
    font-size: 8cqi;
}

.box.scrolled {
    width: 300px;
    opacity: 1;
}

.box.ppl img {
    width: 140cqi;
}

.box a {
    color: var(--color4);
}

.CTA.sln {
    margin-top: 27px;
    background: var(--color1);
    color: var(--color2);
    border: 2px solid var(--color2);
}

video {
    width: 100%;
    margin: 30px 0 20px 0;
    border-radius: 12px;
}

.title {
    font-size: 11cqi !important;
}

.purple {
    color: var(--color5);
}

.top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    border-radius: 50%;
    height: 48px;
    aspect-ratio: 1/1;
    background: var(--color5);
    color: var(--color1);
    font-size: 2.05rem;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3);
    align-items: end;
    cursor: pointer;
    padding-left: 1px;
    z-index: 5;
    opacity: 1;
    transition: opacity 0.5s ease;
}
.top.hidden {
    opacity: 0;
}