:root {
    --color1: white;
    --color2: black;
    --color3: #F4F0F0;
    --color4: #FFACE3;
    --color5: #8E55F0;
    --color6: #FCD3C2;
}

* {
    box-sizing: border-box;
    font-family: Arial;
    letter-spacing: 0.07rem;
}

a {
    text-decoration: none;
    cursor: pointer;
}

main {
    display: block;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.marginBottom {
    margin-bottom: 30px;
}

.alignRight {
    text-align: right;
}

.alignLeft {
    text-align: left;
}

.bold {
    font-weight: bold;
}

section.intro {
    width: 100%;
    height: 810px;
    background: linear-gradient(to bottom, lightblue 60%, transparent 100%);
    flex-direction: column;
    padding: 50px 0;
    margin-bottom: 30px;
}

.intro img {
    width: 250px;
    margin-bottom: 30px;
}

.header1 {
    font-size: 2.3rem;
    font-weight: bold;
    margin-bottom: 40px;
}

.header2 {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2.1rem;
    width: 100%;
}

.header3 {
    margin: 20px 0 30px 0;
    font-size: 1.1rem;
    line-height: 2rem;
}

.CTA {
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--color1);
    background: black;
    padding: 10px 20px;
    border-radius: 12px;
    width: 90%;
}

.CTA.intro {
    color: yellow;
    width: 60%
}

section {
    padding: 0 30px;
    flex-direction: column;
    margin-bottom: 80px;
}

.section1 {
    background: var(--color3);
    padding: 25px;
    border-radius: 12px;
    width: min(330px, 90%);
    margin: 0 auto 80px auto;
}

.section1 img {
    width: 250px;
    margin-top: 20px;
}

.boxContainer {
    width: 360px;
}

.section2 .boxContainer.one { height: 415px; }
.section2 .boxContainer.two { height: 510px; }
.section2 .boxContainer.three { height: 485px; }

.box {
    width: 150px;
    background: var(--color2);
    border-radius: 12px;
    color: var(--color1);
    flex-direction: column;
    padding: 40px;
    line-height: 1.7rem;
    container-type: inline-size;
    opacity: 0;
    transition: all 0.6s ease;
}

.box *:not(:last-child) {
    margin-bottom: 20px;
}

.box img {
    width: 100cqi
}

.box div {
    font-size: 8cqi;
}

.box.scrolled {
    width: 300px;
    opacity: 1;
}

.box.ppl img {
    width: 140cqi;
}

.box a {
    color: var(--color4);
}

.CTA.sln {
    margin-top: 27px;
    background: var(--color1);
    color: var(--color2);
    border: 2px solid var(--color2);
}

video {
    width: 100%;
    margin: 30px 0 20px 0;
    border-radius: 12px;
}

.section3 .header3 {
    line-height: 1.5rem;
    margin-top: 10px;
    width: 100%;
}

.section3 .header3.bold {
    margin-bottom: 20px;
    margin-top: 50px;
}

.section3 .header1 {
    margin-bottom: 5px;
}

.section3 .CTA {
    margin-top: 30px;
}

.section4 {
    background-color: var(--color3);
    padding: 60px 30px 80px 30px;
}

.section5 .box {
    padding: 30px 20px;
}

.section5 .box div {
    font-size: 7cqi;
}

.title {
    font-size: 11cqi !important;
}

.purple {
    color: var(--color5);
}

.section5 .header1 {
    margin-bottom: 25px
}
.section5 .header3 {
    margin-bottom: -10px;
}

.section5 .CTA {
    background: var(--color1);
    color: var(--color2);
    width: 90cqi;
    font-size: 7cqi;
}

.section5 .boxContainer.one { height: 600px; }
.section5 .boxContainer.two { height: 530px; }
.section5 .boxContainer.three { height: 600px; }

.section6 {
    margin-top: -50px;
    margin-bottom: 150px;
}

.section6 .CTA {
    background: var(--color5);
}

.section6 video {
    border-radius: 50%;
    width: 200px;
    margin-bottom: 35px;
}

.section7 img {
    border-radius: 15%;
    width: 120px;
    margin: 30px 0;
}

footer {
    margin-top: 110px;
}

.footerBlock {
    margin-bottom: 40px;
    font-size: 0.8rem;
    text-align: center;
}

.footerBlock a {
    display: block;
    margin-bottom: 15px;
}

.footerBlock.SMS {
    width: 100%;
    justify-content: space-evenly;
    margin-top: 55px;
}

.footerBlock.SMS img{
    width: 20px;
}

#Insta { width: 21px; }
#YT { width: 27px; }
#FB { width: 22px; }